<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Image processing application</title>
    <link rel="icon" type="image/x-icon" href="/static/images/stary-night-me.jpg">
</head>
<body style="background-image: url('/static/images/stary-night-me.jpg'); opacity: 100%; background-repeat: no-repeat;">
    <h1 style="color: blueviolet;" align="center"> Try some image manipulations here </h1>
    <p> some paragraph  </p>
    <ul> 123  </ul>
    <li> new </li>
</body>
</html>