<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Image processing application</title>
    <link rel="icon" type="image/x-icon" href="/static/images/stary-night-me.jpg">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <script src="/static/views/fileChecker.js" defer></script>
</head>
<body>
    <div class="background" style="background-image: url('/static/images/starry-night.jpg');"></div>
    <div class="horizontal-section">
        <h1> Some image operations</h1>
    </div>
    <div class="vertical-grid">
        <div class="vertical-section">
            <div><h1 style="color: #061541;">Crop Image</h1></div>
            <div>
                <form id="cropImageForm" action="/image/v1/crop?width=100&height=100" method="post" enctype="multipart/form-data" target="_blank">
                    <input type="file" name="file" id="singleImageFile">
                    <button type="submit" id="cropSubmit" disabled>Crop</button>
                </form>
                <p id="cropImageErrorMessage" style="color: red; display: none;">Upload images (JPEG or PNG) only.</p>
            </div>
        </div>

        <div class="vertical-section">
            <div><h1 style="color: #061541;">Compute image difference score - Cosine similarity</h1></div>
            <div>
                <form id="differenceImagesForm" action="/image/v1/difference" method="post" enctype="multipart/form-data"  target="_blank">
                    <input type="file" name="file1" id="imageFile1">
                    <input type="file" name="file2" id="imageFile2">
                    <button type="submit" id="differenceSubmitButton" disabled>Difference</button>
                </form>
                <p id="twoErrorMessage" style="color: red; display: none;">Upload images (JPEG or PNG) only.</p>
            </div>
        </div>

        <div class="vertical-section">
            <div><h1 style="color: #061541;">Get Image Hash</h1></div>
            <div>
                <form id="hashImageForm" action="/image/v1/hash" method="post" enctype="multipart/form-data"  target="_blank">
                    <input type="file" name="file" id="hashImageFile">
                    <button type="submit" id="hashSubmitButton" disabled>Hash</button>
                </form>
                <p id="hashErrorMessage" style="color: red; display: none;">Upload images (JPEG or PNG) only.</p>
            </div>
        </div>
    </div>
    <script>
        // Get elements and apply event listeners
        var singleFileInput = document.getElementById('singleImageFile');
        var cropSubmit = document.getElementById('cropSubmit');
        var cropImageErrorMessage = document.getElementById('cropImageErrorMessage');

        var firstFileInput = document.getElementById('imageFile1');
        var secondFileInput = document.getElementById('imageFile2');
        var differenceSubmitButton = document.getElementById('differenceSubmitButton');
        var twoErrorMessage = document.getElementById('twoErrorMessage');

        var hashFileInput = document.getElementById('hashImageFile');
        var hashSubmit = document.getElementById('hashSubmitButton');
        var hashErrorMessage = document.getElementById('hashErrorMessage');

        // Function to handle change in single file input
        singleFileInput.addEventListener('change', () => {
            var file = singleFileInput.files[0];
            window.validateSingleFile(file, valid => {
                if (valid) {
                    cropSubmit.disabled = false;
                    cropImageErrorMessage.style.display = 'none';
                } else {
                    cropSubmit.disabled = true;
                    cropImageErrorMessage.style.display = 'block';
                }
            });
        });

        // Function to handle change in two file inputs
        function handleTwoFileChange() {
            var file1 = firstFileInput.files[0];
            var file2 = secondFileInput.files[0];
            window.validateTwoFiles(file1, file2, valid => {
                if (valid) {
                    differenceSubmitButton.disabled = false;
                    twoErrorMessage.style.display = 'none';
                } else {
                    differenceSubmitButton.disabled = true;
                    twoErrorMessage.style.display = 'block';
                }
            });
        }

        // Add event listener to the differenceImagesForm element
        var differenceImagesForm = document.getElementById('differenceImagesForm');

        differenceImagesForm.addEventListener('change', event => {
            if (event.target === firstFileInput || event.target === secondFileInput) {
                handleTwoFileChange();
            }
        });

        // Add event listener for hashing form
        hashFileInput.addEventListener('change', () => {
            var file = hashFileInput.files[0];
            window.validateSingleFile(file, valid => {
                if (valid) {
                    hashSubmit.disabled = false;
                    hashErrorMessage.style.display = 'none';
                } else {
                    hashSubmit.disabled = true;
                    hashErrorMessage.style.display = 'block';
                }
            });
        });
    </script>
    </body>
</html>